body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.context-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mandelbrot-canvas {
  background-color: #666;
  outline: none;
  width: 70vw;
}
